<div class="container">
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://www.thestagingguy.com"><img src="images/TheStagingGuyLogo_small.png" alt="The Staging Guy logo" height="400" width="175"></a>
    </div>
    <div class="header-contact">
      <p><i class="fa fa-phone"></i> (512) 537-4489</p>

      <p><i class="fa fa-envelope"></i>
        <script language="JavaScript">
            var username = "richard";
            var hostname = "thestagingguy.com";
            var linktext = username + "@" + hostname;
            document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + linktext + "</a>");
        </script>
      </p>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav pull-right navbar-nav">
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Testimonials</a></li>
        <li><a href="#">In The Media</a></li>
        <!-- <li><a href="contact.html">Contact</a></li> -->
      </ul>
    </div>
  </div>
  <div id="social_media_wrapper">
    <a href="https://www.facebook.com/TheStagingGuyAustin" target='_none_'><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/TheStagingGuy"><i class="fa fa-twitter"></i></a>
    <a href="http://www.linkedin.com/in/thestagingguy"><i class="fa fa-linkedin-square"></i></a></div>
</div>
