<section id="slider_wrapper">
  <div id="main_flexslider" class="flexslider">
    <ul class="slides">
      <li class="item" style="background-image: url(images/slider_1.png)">
        <div class="container">
          <div class="carousel-caption">
            <h1>Austin's full service staging company</h1>

            <p class="lead inverse">Master home staging services for the Austin community</p>
          </div>
        </div>
      </li>
      <!--
      <li class="item" style="background-image: url(images/3.jpg)">
        <div class="container">
          <div class="carousel-caption">
            <h1>makes <strong>real use</strong><br>of the power of <strong>{LESS}</strong> syntax!</h1>
            <p class="lead inverse">{re}start was built with heavy use of {less} technology, making the life of the web developer easier!</p>
          </div>
        </div>
      </li>
      <li class="item" style="background-image: url(images/1.jpg)">
        <div class="container">
          <div class="carousel-caption">
            <h1 class="inverse"><strong>subtle</strong> animations<br>
              &amp; a <strong>fresh</strong> collapsing <strong>header effect</strong></h1>

            <p class="lead">if you are looking for <a href="services.html"><strong>a bold approach</strong></a> you will
              love the header effect,<br>
              but even if you like <a href="page_alternative.html"><strong>a more conservative feel</strong></a>, you
              can always try the boxed alternative!</p>
          </div>
        </div>
      </li>
      -->
    </ul>
  </div>
</section>
